:root{ /* Default light mode - variable declaration*/
    --color-background: #F5F5DC;
    --color-foreground: #000000;
}

/* If the browser has dark mode preferences already set, declare the following variables */
@media (prefers-color-scheme: dark) {
    :root{
        --color-background: #000000;
        --color-foreground: #F5F5DC;
    }
}

/* Using variables first example */
.home-container{
    background-color: var(--color-background);
    color: var(--color-foreground);
}

.home-container.transition{
    transition: background-color 1s, color 1s;
}